:root {
    font-family: avenir;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}

  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  textarea {
    resize: vertical;
  }
    

header {
    background-color: #FFDBDB;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    gap: 15px;
}

.header-text {

  display: flex;
  align-items: center;

  gap: 15px;
}

header h1 {
  font-size: 19px;
  font-weight: bolder;
}

header p {
  transform: translateY(.75px);
}

.social-icons {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-shrink: 0;
}

.icon {
  width: 20px;
  height: 20px;
  display: block;
}

/* /////////////////////////// MAP //////////////////////// */

body {
    margin: 0;
    padding: 0;
}

main {
    background-color: #E3E3E3;
}

.map {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.projects-container {
  position: relative;
  width: 1080px;
}

#connections-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;

  z-index: 10;
}


/* ///////////////////////////// Blocks / Project Cards //////////////////////////////////// */


.blocks {
    width: 240px;

    background-color: white;
   
    border-radius: 10px;
    overflow: hidden;

    z-index: 1;
}

h3 {
    font-size: 13px;
}

.blocks:hover {
    transform: translateY(-5px);
  }

  
.images {
    position: relative;
  }


.cover-image {
    width:240px;
    height:150px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;

    object-position: 20% 15%;
} 

#social-media-block .cover-image {
  object-position: 10% 40%;
}

.icons {
    position: absolute;
    top: 8px;
    left: 208px;
    width:20px;
    z-index: 2;
}


p {
   font-size: 12px;  
    display: -webkit-box;
     -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
     overflow: hidden; 
}

.small-caption {
    Padding: 0px 20px 0px 20px;
    margin: 5px;
}

/* /////////////////////// Modal Styles////////////////////////////// */

.modal {
    display: none;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 999;  /* this puts it on top of everything */
    background-color: rgba(134, 144, 152, 0.45);
    justify-content: center;
    align-items: center;
    padding: 40px 0px 40px 0px;
}

  .images-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 550px;
    overflow: hidden;    

  }

  .pop-up {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #minimize {
    position: absolute;
    left: 754px;
    width: 37px;
  }
  
  .modal-img {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 800px;
    object-fit: cover;

    object-position: 20%;
  }

.modal.ppc .modal-img {
  object-fit: cover;
  object-position: 15% 23%;
}

.modal.photoshoot-block .modal-img {
  object-fit: cover;
  object-position: 60%;
}

  .expanded-caption {
    margin: auto;
    width: 100%;
    max-width: 760px;
  
    background-color: white;

    text-align: left;
    color: black;
    padding: 20px;
    font-size: 18px;
   
    display: block;
    -webkit-line-clamp: unset;
    overflow: visible;
  }

  /* //////////////////////////////Footer Styles - Shown on Mobile Only/////////////////////////////*/

footer {
  display: none;
}

.footer-block {
  background-color: #FFDBDB;;
  text-align: center;
}

.footer-text {
  font-size: medium;
  margin: 0px;
  padding: 20px 10px;
}


/* /////////////////////////////////////////////////////////////////////
/* //////////////////Responsive Styling////////////////////////// ///*/



/* ///////////////////////Mobile///////////////////////////////////// */

@media screen and (max-width: 759px) {

.map {
  height: auto !important;
}


footer {
  display: block;
}

header {
  display: flex;
  align-items: center;
  padding: 15px;
}


 .header-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
 }

 .header-text .bio {
  display: none;  
 }


#lines-svg, #dots-svg {
      display: none;
    }

.map {
  max-width: 600px;
  height: auto;
}

.projects-container {
  position: static; 
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
}

.blocks {
  position: static !important;
}

/* ///////////////////Modal Mobile Styling///////////////////////// */


 .images-container {
    width: 800px;
    height: 400px;
    overflow: hidden;

    position: relative;
  }
  
.modal-img {
    display: block;
    max-width: 440px; 
    height: 100%;
}

.expanded-caption {
    width: 100%;
    max-width: 380px;
    background-color: #E3E3E3;

    text-align: center;
    color: black;
    padding: 30px;
    font-size: 16px;
   
    display: block;
    -webkit-line-clamp: unset;
    overflow: visible;
  }

  #minimize {
    position: absolute;
    top: 14px;
    left: 570px;
    width: 35px;
  }
}

/* ///////////////////////iMac///////////////////////////////////// */

@media screen and (min-width: 2000px) {

.blocks {
    width: 300px;

    background-color: white;
   
    border-radius: 10px;
    overflow: hidden;

    z-index: 1;
}


.blocks:hover {
    transform: translateY(-5px);
  }

  
.images {
    position: relative;
  }


.cover-image {
    width:300px;
    height:225px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;

    object-position: 20% 15%;
} 


    
.icons {
    position: absolute;
    top: 10px;
    left: 260px;
    width: 30px;
    z-index: 2;
}


p {
    display: -webkit-box;
     -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
     overflow: hidden; 
}

}